# Use dragoscatalin as the npm user for publishing
# registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
# Set the scope for the package (if needed)
@dragoscatalin:registry=https://registry.npmjs.org/

scope=@dragoscatalin
access=public
registry=https://registry.npmjs.org/